02-AI工程/n8n工作流/exec39.json
{"id":"39","finished":true,"mode":"webhook","retryOf":null,"retrySuccessId":null,"status":"success","createdAt":"2026-03-15T15:34:36.149Z","startedAt":"2026-03-15T15:34:36.159Z","stoppedAt":"2026-03-15T15:35:16.367Z","deletedAt":null,"workflowId":"tXodaJYhhHa6GaVV","waitTill":null,"storedAt":"db","data":{"version":1,"startData":{},"resultData":{"runData":{"Webhook 手动触发":[{"startTime":1773588876175,"executionIndex":0,"source":[],"hints":[],"executionTime":0,"executionStatus":"success","data":{"main":[[{"json":{"headers":{"host":"localhost:5678","user-agent":"curl/8.11.0","accept":"*/*"},"params":{},"query":{},"body":{},"webhookUrl":"http://localhost:5678/webhook/shopee-monitor-test","executionMode":"production"},"pairedItem":{"item":0}}]]}}],"监控目标配置":[{"startTime":1773588876175,"executionIndex":1,"source":[{"previousNode":"Webhook 手动触发","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":6,"executionStatus":"success","data":{"main":[[{"json":{"shopid":"65472678","shop_name":"豆豆優選家","username":"ghjkl8688","cookie":"_QPWSDCXHZQA=a87ef4cd-dcff-4d68-8263-4dec7877bc8f;REC7iLP4Q=91cfdd52-a5f2-4f86-b9ae-e7a73a931531;SPC_F=CKlQora1aHvj9I94rMcvCiaX5CdiQyiz;REC_T_ID=eee9dd84-1de8-11f1-b3f1-4a8aaf353407;SPC_CLIENTID=Q0tsUW9yYTFhSHZqmftyqmumbprdugjs;SPC_ST=SnMwbUdlejBCUHhTTUNSWBDmGe+rhelM5N5CaciHTHAMkuEa3a8Uc6TYqWDyyEJJ1UqOBA2S99vvmWgMPlGA188bnHzUjsTmXBb8eThsBVfyDeq3GJCiK/bVHMFqnYWvKa7DxYWgmGPPRo6lCcnCmwNC4E9k6gM7E58DQ/zdvQvPFa76xzNuRVgyUS765DAxvJlS136JOijROramog0BlOBJzp++fuH3OzOMzfJ4huq5tSI/shshTwTX9MJRZ3U3.ADTB47LAFSi3vAP+8XVysHeW6HH+Iuy9HqDWdhlmloKy;SPC_U=7866356538;SPC_R_T_ID=wfn02z0qUCtyb51DCUX8j8J50dm4C/EMYc0WE48qX4zRQTAo9DkNwYlt+p9/REYWKjCYWK5/rCniDWpGqaBq21iiMwKuo/BW/FuV1YiUwP4CVE1IFGZH4ideK1qvqmtswpp1t7OLcVAkpUG5xPXxaZPRkIx35ku7ZkUfOpoUQo0=;SPC_R_T_IV=RWZFOURRRnZpZGpGak5PQQ==;SPC_T_ID=wfn02z0qUCtyb51DCUX8j8J50dm4C/EMYc0WE48qX4zRQTAo9DkNwYlt+p9/REYWKjCYWK5/rCniDWpGqaBq21iiMwKuo/BW/FuV1YiUwP4CVE1IFGZH4ideK1qvqmtswpp1t7OLcVAkpUG5xPXxaZPRkIx35ku7ZkUfOpoUQo0=;SPC_T_IV=RWZFOURRRnZpZGpGak5PQQ==;SPC_SI=nduKaQAAAABGQW5KdEFzaxJiawUAAAAAZG1sc3ZaUnk=;csrftoken=Qi6HbNMdA0e9GHA6Q4hF66txaNkRx2gs;_sapid=e00aaf0a797b1d63e557630845deb5b48344ef10628772d0e044594c;SPC_CDS_CHAT=50d3fb3c-7f8c-4a9b-97cf-921e459f4e57;SPC_SEC_SI=v1-SklJRHhBZE1CNW1XdUxXefDqeZnZx/h1/GJzVCwqbYqG810O205I8o7iIE6F7SzJq4AqVovfbSVGrhtbItXbBKwaKkWa8YFPcTi661o99Zw=;AC_CERT_D=gqRjZGVrxHeFomtpvaDE0MjUxOmNhcHRjaGFfY29va2llX2tleaJrdtEAAaRhbGdv0gAAAGSjZGVrwKJjdMRAAAAADLYaCxuGIjDmirGxoAXmVa95H22YX7VWwSV9lWq+G3EAyiJMOVCkSyQqHrKWTh/jcJ7rW3M/ex4cBCDcuqpjaXBoZXJ0ZXh0xQNMAAAADJkPB9tV83T6aXcaTgZhHak1SdShNl0PPhux5mW0QauIOTlUXJqSxbI1zwnJz9oycNAI+pAxLyW4jH8AtDqVA7lyGN5JDyQAEivLM05rRQBsiqG2FRYTYZ6xqeoL4kUUmTB0731CLj85V1cJ64I6NQPPEPnEmlxt0kb0iSTzyjjdvDAouG+DlSyFnpgz38KGA9URcMQTolH5CAeuGp8G8hIhEzi2QoyM5QaRw7XkDB74svkeUXrUXo5CIJ9nnydQH3YOyxon7d/exRHmVzm1JcvdzLZaL7vmkCUoq2FIu0ulp89s4aQNqkuj+nTpwpxrXjXMbJzfCvTtJDiwo8iUztbGliBNsoHISStnJo08yUoha9UQY5rCySh7NG8BynedI6lh4PIASocc1lsdXCX2EIqEULCE+vKyVaAvq2aFKrCZ5GJ1gynSBBi4ey3XFIFWuBeTjVhyBXRO/VtVpnB3gaFnKQBe8EQIBoeNQp/L013dapYV44iNOTiG+Hmj70XeqMO8JM5wvdhHwATWCOk/g938k49mcbGB5WDULXz34oE0JDN7Phy5q1PIruupJZjQmiEBJinOcf51J7+O1icoaNuKvVEo1hRi7/H2Sf4js9UV4pPf63/FtueMIjV93N5mrEjUFOO+yYpetkcEfqmQS3I3/1tB0UNFRQ8P2D+izE/SP+i7/42mCWtxFRmixaAM8JuHH8uJiAEIL5WC4sHuJ328WW+MPrnouxLH+UtGRpjxsqe9YzNE23FCHhO2o8gmqbd32lgfmlBlUsARSHzGW9n/IHqkM8WT2HWMXXfuEwJfMcnHrChbVvHN5KKXESmUUlucGz0kb57WRL8Bd9MKy8LQe/qHlGAhE6fBtBoiXgmOHKQ/ZTre9WEl0VyYYzob2yX1EDAhyO3oi8sbQfh55FgjSDdSL8Ex65+r8IhtkPRRnVZmD0jWVFpuSm81VbHQsuxKMrfXqTYkWoLxwy8IVdEpDZDByGrrufOeaaWqrQxruf7U9MMHzhwxhuRc9WHD/S7AVreRp86+HRPySTTixjmwW6Du1W0yrbyQBel+GlqDTbP7M7G/MmKkciEYoGzyhOMpviXGwPntqwnyYWyV4NgpB4+Ix9JZFg==;SPC_EC=UFl2ZTc3RmdYbGtUZFRhYxENP5KUgU6tpizMgSvRo159nOn8d9IhGZHoTeKleq9ycFCUvpL8kIWhaVfs2fqELArQsy/7gEX0Rpmc/m1TgQutWtCQi4HsE8Y/GCv3p9K1Kf0+bVOne3Xb9NDKGNWKIO1gO9pQv8/d+kxEwea1pJC2U0u7nocfp4ronoSnBl2e7tXDkxdBD8rRQA4nxXcxpqxrFmxAJtnLXIezGdhTZ/xF0maSaEfoGRwChuh/0Mlo.AGvP3nIoaS1sEuGB8fEWJ0ggvxzSRLzr/6fRRUPCNveb"},"pairedItem":{"item":0}}]]}}],"抓取最新上架商品":[{"startTime":1773588876182,"executionIndex":2,"source":[{"previousNode":"监控目标配置","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":19857,"executionStatus":"success","data":{"main":[[{"json":{"error":"not_captured","message":"search_items not triggered after scroll"},"pairedItem":{"item":0}}]]}}],"解析上新数据":[{"startTime":1773588896040,"executionIndex":3,"source":[{"previousNode":"抓取最新上架商品","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":8,"executionStatus":"success","data":{"main":[[{"json":{"type":"debug","shop_name":"豆豆優選家","raw_response":{"error":"not_captured","message":"search_items not triggered after scroll"},"message":"⚠️ Shopee API 返回错误码 not_captured，Cookie 可能已失效，请重新导出"},"pairedItem":{"item":0}}]]}}],"抓取热销商品价格":[{"startTime":1773588896048,"executionIndex":4,"source":[{"previousNode":"监控目标配置","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":20307,"executionStatus":"success","data":{"main":[[{"json":{"error":"not_captured","message":"search_items not triggered after scroll"},"pairedItem":{"item":0}}]]}}],"解析价格变动":[{"startTime":1773588916356,"executionIndex":5,"source":[{"previousNode":"抓取热销商品价格","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":11,"executionStatus":"success","data":{"main":[[{"json":{"type":"debug","shop_name":"豆豆優選家","raw_response":{"error":"not_captured","message":"search_items not triggered after scroll"},"message":"⚠️ Shopee API 返回错误码 not_captured，Cookie 可能已失效，请重新导出"},"pairedItem":{"item":0}}]]}}],"合并两路结果":[{"startTime":1773588916367,"executionIndex":6,"source":[{"previousNode":"解析上新数据","previousNodeOutput":0,"previousNodeRun":0},{"previousNode":"解析价格变动","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":0,"executionStatus":"success","data":{"main":[[]]}}]},"lastNodeExecuted":"合并两路结果"},"executionData":{"contextData":{},"nodeExecutionStack":[],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1773588876161,"source":"webhook","triggerNode":{"name":"Webhook 手动触发","type":"n8n-nodes-base.webhook"}}}},"workflowData":{"id":"tXodaJYhhHa6GaVV","name":"Shopee TW 竞品监控 → 飞书通知","active":true,"activeVersionId":"33e340c9-0fd5-4a52-a9e0-5a969c3b04b5","isArchived":false,"createdAt":"2026-03-14T10:16:19.141Z","updatedAt":"2026-03-15T15:34:35.765Z","nodes":[{"parameters":{"notice":"","rule":{"interval":[{"field":"hours","hoursInterval":4,"triggerAtMinute":0}]}},"id":"node-schedule","name":"定时触发（每4小时）","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,300]},{"parameters":{"multipleMethods":false,"httpMethod":"GET","path":"shopee-monitor-test","authentication":"none","responseMode":"onReceived","contentTypeNotice":"","options":{}},"id":"node-webhook","name":"Webhook 手动触发","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,480],"webhookId":"shopee-monitor-test"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// ✏️ 配置区域 —— 只需更新此处，其他节点无需改动\n\n// Cookie 获取方式：\n// 1. Chrome 打开 shopee.tw 并登录账号\n// 2. 安装 Cookie Editor 插件\n// 3. 点击插件 → Export → Export as Header String\n// 4. 将复制到的字符串粘贴到下方（格式：key1=val1; key2=val2; ...）\nconst SHOPEE_COOKIE = '_QPWSDCXHZQA=a87ef4cd-dcff-4d68-8263-4dec7877bc8f;REC7iLP4Q=91cfdd52-a5f2-4f86-b9ae-e7a73a931531;SPC_F=CKlQora1aHvj9I94rMcvCiaX5CdiQyiz;REC_T_ID=eee9dd84-1de8-11f1-b3f1-4a8aaf353407;SPC_CLIENTID=Q0tsUW9yYTFhSHZqmftyqmumbprdugjs;SPC_ST=SnMwbUdlejBCUHhTTUNSWBDmGe+rhelM5N5CaciHTHAMkuEa3a8Uc6TYqWDyyEJJ1UqOBA2S99vvmWgMPlGA188bnHzUjsTmXBb8eThsBVfyDeq3GJCiK/bVHMFqnYWvKa7DxYWgmGPPRo6lCcnCmwNC4E9k6gM7E58DQ/zdvQvPFa76xzNuRVgyUS765DAxvJlS136JOijROramog0BlOBJzp++fuH3OzOMzfJ4huq5tSI/shshTwTX9MJRZ3U3.ADTB47LAFSi3vAP+8XVysHeW6HH+Iuy9HqDWdhlmloKy;SPC_U=7866356538;SPC_R_T_ID=wfn02z0qUCtyb51DCUX8j8J50dm4C/EMYc0WE48qX4zRQTAo9DkNwYlt+p9/REYWKjCYWK5/rCniDWpGqaBq21iiMwKuo/BW/FuV1YiUwP4CVE1IFGZH4ideK1qvqmtswpp1t7OLcVAkpUG5xPXxaZPRkIx35ku7ZkUfOpoUQo0=;SPC_R_T_IV=RWZFOURRRnZpZGpGak5PQQ==;SPC_T_ID=wfn02z0qUCtyb51DCUX8j8J50dm4C/EMYc0WE48qX4zRQTAo9DkNwYlt+p9/REYWKjCYWK5/rCniDWpGqaBq21iiMwKuo/BW/FuV1YiUwP4CVE1IFGZH4ideK1qvqmtswpp1t7OLcVAkpUG5xPXxaZPRkIx35ku7ZkUfOpoUQo0=;SPC_T_IV=RWZFOURRRnZpZGpGak5PQQ==;SPC_SI=nduKaQAAAABGQW5KdEFzaxJiawUAAAAAZG1sc3ZaUnk=;csrftoken=Qi6HbNMdA0e9GHA6Q4hF66txaNkRx2gs;_sapid=e00aaf0a797b1d63e557630845deb5b48344ef10628772d0e044594c;SPC_CDS_CHAT=50d3fb3c-7f8c-4a9b-97cf-921e459f4e57;SPC_SEC_SI=v1-SklJRHhBZE1CNW1XdUxXefDqeZnZx/h1/GJzVCwqbYqG810O205I8o7iIE6F7SzJq4AqVovfbSVGrhtbItXbBKwaKkWa8YFPcTi661o99Zw=;AC_CERT_D=gqRjZGVrxHeFomtpvaDE0MjUxOmNhcHRjaGFfY29va2llX2tleaJrdtEAAaRhbGdv0gAAAGSjZGVrwKJjdMRAAAAADLYaCxuGIjDmirGxoAXmVa95H22YX7VWwSV9lWq+G3EAyiJMOVCkSyQqHrKWTh/jcJ7rW3M/ex4cBCDcuqpjaXBoZXJ0ZXh0xQNMAAAADJkPB9tV83T6aXcaTgZhHak1SdShNl0PPhux5mW0QauIOTlUXJqSxbI1zwnJz9oycNAI+pAxLyW4jH8AtDqVA7lyGN5JDyQAEivLM05rRQBsiqG2FRYTYZ6xqeoL4kUUmTB0731CLj85V1cJ64I6NQPPEPnEmlxt0kb0iSTzyjjdvDAouG+DlSyFnpgz38KGA9URcMQTolH5CAeuGp8G8hIhEzi2QoyM5QaRw7XkDB74svkeUXrUXo5CIJ9nnydQH3YOyxon7d/exRHmVzm1JcvdzLZaL7vmkCUoq2FIu0ulp89s4aQNqkuj+nTpwpxrXjXMbJzfCvTtJDiwo8iUztbGliBNsoHISStnJo08yUoha9UQY5rCySh7NG8BynedI6lh4PIASocc1lsdXCX2EIqEULCE+vKyVaAvq2aFKrCZ5GJ1gynSBBi4ey3XFIFWuBeTjVhyBXRO/VtVpnB3gaFnKQBe8EQIBoeNQp/L013dapYV44iNOTiG+Hmj70XeqMO8JM5wvdhHwATWCOk/g938k49mcbGB5WDULXz34oE0JDN7Phy5q1PIruupJZjQmiEBJinOcf51J7+O1icoaNuKvVEo1hRi7/H2Sf4js9UV4pPf63/FtueMIjV93N5mrEjUFOO+yYpetkcEfqmQS3I3/1tB0UNFRQ8P2D+izE/SP+i7/42mCWtxFRmixaAM8JuHH8uJiAEIL5WC4sHuJ328WW+MPrnouxLH+UtGRpjxsqe9YzNE23FCHhO2o8gmqbd32lgfmlBlUsARSHzGW9n/IHqkM8WT2HWMXXfuEwJfMcnHrChbVvHN5KKXESmUUlucGz0kb57WRL8Bd9MKy8LQe/qHlGAhE6fBtBoiXgmOHKQ/ZTre9WEl0VyYYzob2yX1EDAhyO3oi8sbQfh55FgjSDdSL8Ex65+r8IhtkPRRnVZmD0jWVFpuSm81VbHQsuxKMrfXqTYkWoLxwy8IVdEpDZDByGrrufOeaaWqrQxruf7U9MMHzhwxhuRc9WHD/S7AVreRp86+HRPySTTixjmwW6Du1W0yrbyQBel+GlqDTbP7M7G/MmKkciEYoGzyhOMpviXGwPntqwnyYWyV4NgpB4+Ix9JZFg==;SPC_EC=UFl2ZTc3RmdYbGtUZFRhYxENP5KUgU6tpizMgSvRo159nOn8d9IhGZHoTeKleq9ycFCUvpL8kIWhaVfs2fqELArQsy/7gEX0Rpmc/m1TgQutWtCQi4HsE8Y/GCv3p9K1Kf0+bVOne3Xb9NDKGNWKIO1gO9pQv8/d+kxEwea1pJC2U0u7nocfp4ronoSnBl2e7tXDkxdBD8rRQA4nxXcxpqxrFmxAJtnLXIezGdhTZ/xF0maSaEfoGRwChuh/0Mlo.AGvP3nIoaS1sEuGB8fEWJ0ggvxzSRLzr/6fRRUPCNveb';\n\n// 要监控的竞品店铺列表\nconst targets = [\n  { shopid: '65472678', shop_name: '豆豆優選家', username: 'ghjkl8688', cookie: SHOPEE_COOKIE }\n];\n\nreturn targets.map(t => ({ json: t }));","notice":""},"id":"node-config","name":"监控目标配置","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300]},{"parameters":{"operation":"runCustomScript","scriptCode":"const shopid = $json.shopid;\nconst cookieStr = $json.cookie;\n\n// 解析 Cookie\nconst cookies = cookieStr.split(';').map(c => {\n  const eqIdx = c.indexOf('=');\n  if (eqIdx === -1) return null;\n  const name = c.substring(0, eqIdx).trim();\n  const value = c.substring(eqIdx + 1).trim();\n  return { name, value, domain: '.shopee.tw', path: '/' };\n}).filter(c => c && c.name && c.value);\n\nawait $page.setCookie(...cookies);\n\n// 拦截 search_items API 响应\nlet capturedData = null;\nconst responseHandler = async (response) => {\n  const url = response.url();\n  if (url.includes('/api/v4/search/search_items') && !capturedData) {\n    try {\n      const json = await response.json();\n      if (json && (json.items || json.error !== undefined)) {\n        capturedData = json;\n      }\n    } catch(e) {}\n  }\n};\n$page.on('response', responseHandler);\n\n// 导航到店铺页面\nawait $page.goto(`https://shopee.tw/shop/${shopid}/`, {\n  waitUntil: 'domcontentloaded',\n  timeout: 30000\n});\n\n// 等待页面渲染后滚动（触发懒加载 search_items 请求）\nawait new Promise(r => setTimeout(r, 2000));\nawait $page.evaluate(() => window.scrollBy(0, 600));\nawait new Promise(r => setTimeout(r, 1000));\nawait $page.evaluate(() => window.scrollBy(0, 600));\nawait new Promise(r => setTimeout(r, 1000));\n\n// 等待捕获 API 响应（最多 12 秒）\nlet waited = 0;\nwhile (!capturedData && waited < 12000) {\n  await new Promise(r => setTimeout(r, 500));\n  waited += 500;\n}\n$page.off('response', responseHandler);\n\nif (!capturedData) {\n  return [{ json: { error: 'not_captured', message: 'search_items not triggered after scroll' } }];\n}\n\nreturn [{ json: capturedData }];","notice":"","query":"","options":{"timeout":55000,"waitUntil":"domcontentloaded","stealth":true}},"id":"node-fetch-new","name":"抓取最新上架商品","type":"n8n-nodes-puppeteer.puppeteer","typeVersion":1,"position":[680,180]},{"parameters":{"operation":"runCustomScript","scriptCode":"const shopid = $json.shopid;\nconst cookieStr = $json.cookie;\n\n// 解析 Cookie\nconst cookies = cookieStr.split(';').map(c => {\n  const eqIdx = c.indexOf('=');\n  if (eqIdx === -1) return null;\n  const name = c.substring(0, eqIdx).trim();\n  const value = c.substring(eqIdx + 1).trim();\n  return { name, value, domain: '.shopee.tw', path: '/' };\n}).filter(c => c && c.name && c.value);\n\nawait $page.setCookie(...cookies);\n\n// 拦截 search_items API 响应\nlet capturedData = null;\nconst responseHandler = async (response) => {\n  const url = response.url();\n  if (url.includes('/api/v4/search/search_items') && !capturedData) {\n    try {\n      const json = await response.json();\n      if (json && (json.items || json.error !== undefined)) {\n        capturedData = json;\n      }\n    } catch(e) {}\n  }\n};\n$page.on('response', responseHandler);\n\n// 导航到按热销排序的店铺页面\nawait $page.goto(`https://shopee.tw/shop/${shopid}/?sortBy=pop`, {\n  waitUntil: 'domcontentloaded',\n  timeout: 30000\n});\n\n// 等待页面渲染后滚动（触发懒加载 search_items 请求）\nawait new Promise(r => setTimeout(r, 2000));\nawait $page.evaluate(() => window.scrollBy(0, 600));\nawait new Promise(r => setTimeout(r, 1000));\nawait $page.evaluate(() => window.scrollBy(0, 600));\nawait new Promise(r => setTimeout(r, 1000));\n\n// 等待捕获 API 响应（最多 12 秒）\nlet waited = 0;\nwhile (!capturedData && waited < 12000) {\n  await new Promise(r => setTimeout(r, 500));\n  waited += 500;\n}\n$page.off('response', responseHandler);\n\nif (!capturedData) {\n  return [{ json: { error: 'not_captured', message: 'search_items not triggered after scroll' } }];\n}\n\nreturn [{ json: capturedData }];","notice":"","query":"","options":{"timeout":55000,"waitUntil":"domcontentloaded","stealth":true}},"id":"node-fetch-price","name":"抓取热销商品价格","type":"n8n-nodes-puppeteer.puppeteer","typeVersion":1,"position":[680,420]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// 解析上新数据 —— 适配 Shopee 内部 API 返回格式\n// Shopee API 返回结构：{ items: [{ item_basic: {...} }], ... }\n// 价格单位为 1/100000 TWD（需除以 100000）\n\nconst input = $input.all();\nconst configItems = $('监控目标配置').all();\nconst results = [];\n\nfor (let idx = 0; idx < input.length; idx++) {\n  const raw = input[idx].json;\n  const shopName = configItems[idx]?.json?.shop_name || '未知店铺';\n  const shopid = configItems[idx]?.json?.shopid || '';\n\n  // Shopee API 标准返回：{ items: [...] }\n  const items =\n    raw?.items ||\n    raw?.data?.items ||\n    raw?.result?.items ||\n    [];\n\n  // 若请求失败（error code 非0）或无数据，输出调试信息\n  if (items.length === 0) {\n    results.push({\n      json: {\n        type: 'debug',\n        shop_name: shopName,\n        raw_response: raw,\n        message: raw?.error\n          ? `⚠️ Shopee API 返回错误码 ${raw.error}，Cookie 可能已失效，请重新导出`\n          : '⚠️ 未获取到商品数据，请查看 raw_response'\n      }\n    });\n    continue;\n  }\n\n  const newItems = items.slice(0, 5).map(i => {\n    const info = i.item_basic || i;\n    // Shopee 原始 API 价格单位为 1/100000 TWD\n    const rawPrice = Number(info.price_min ?? info.price ?? 0);\n    const price = rawPrice > 100000 ? (rawPrice / 100000).toFixed(0) : rawPrice.toFixed(0);\n    const name = info.name || '未知商品';\n    const itemid = info.itemid || info.id || '';\n    const sid = info.shopid || shopid;\n    const url = itemid && sid ? `https://shopee.tw/product/${sid}/${itemid}` : '';\n    return { name, price, url };\n  });\n\n  if (newItems.length > 0) {\n    results.push({\n      json: {\n        type: 'new_items',\n        shop_name: shopName,\n        items: newItems,\n        check_time: new Date().toLocaleString('zh-TW', { timeZone: 'Asia/Taipei' })\n      }\n    });\n  }\n}\n\nreturn results.length > 0 ? results : [{ json: { type: 'no_change', message: '本次检查无上新' } }];","notice":""},"id":"node-parse-new","name":"解析上新数据","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,180]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// 解析价格数据，检测价格变动 —— 适配 Shopee 内部 API 返回格式\n\nconst input = $input.all();\nconst configItems = $('监控目标配置').all();\nconst results = [];\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.priceHistory) staticData.priceHistory = {};\n\nfor (let idx = 0; idx < input.length; idx++) {\n  const raw = input[idx].json;\n  const shopName = configItems[idx]?.json?.shop_name || '未知店铺';\n  const shopid = configItems[idx]?.json?.shopid || '';\n\n  // Shopee API 标准返回：{ items: [...] }\n  const items =\n    raw?.items ||\n    raw?.data?.items ||\n    raw?.result?.items ||\n    [];\n\n  // 若请求失败，输出调试信息\n  if (items.length === 0) {\n    results.push({\n      json: {\n        type: 'debug',\n        shop_name: shopName,\n        raw_response: raw,\n        message: raw?.error\n          ? `⚠️ Shopee API 返回错误码 ${raw.error}，Cookie 可能已失效，请重新导出`\n          : '⚠️ 未获取到商品数据，请查看 raw_response'\n      }\n    });\n    continue;\n  }\n\n  const priceChanges = [];\n\n  for (const i of items) {\n    const info = i.item_basic || i;\n    const itemid = String(info.itemid || info.id || '');\n    const name = info.name || '未知商品';\n\n    // Shopee 原始 API 价格单位为 1/100000 TWD\n    const rawPrice = Number(info.price_min ?? info.price ?? 0);\n    const currentPrice = rawPrice > 100000 ? (rawPrice / 100000).toFixed(0) : rawPrice.toFixed(0);\n\n    if (!itemid || rawPrice === 0) continue;\n\n    const key = `${shopName}_${itemid}`;\n    const lastPrice = staticData.priceHistory[key];\n\n    if (lastPrice && lastPrice !== currentPrice) {\n      const diff = Number(currentPrice) - Number(lastPrice);\n      const direction = diff > 0 ? '📈 涨价' : '📉 降价';\n      const sid = info.shopid || shopid;\n      const url = sid ? `https://shopee.tw/product/${sid}/${itemid}` : '';\n      priceChanges.push({\n        name,\n        last_price: lastPrice,\n        current_price: currentPrice,\n        diff: Math.abs(diff),\n        direction,\n        url\n      });\n    }\n\n    staticData.priceHistory[key] = currentPrice;\n  }\n\n  if (priceChanges.length > 0) {\n    results.push({\n      json: {\n        type: 'price_change',\n        shop_name: shopName,\n        changes: priceChanges,\n        check_time: new Date().toLocaleString('zh-TW', { timeZone: 'Asia/Taipei' })\n      }\n    });\n  }\n}\n\nreturn results.length > 0 ? results : [{ json: { type: 'no_change', message: '本次检查价格无变动' } }];","notice":""},"id":"node-parse-price","name":"解析价格变动","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,420]},{"parameters":{"mode":"appendInputs","options":{}},"id":"node-merge","name":"合并两路结果","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1120,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-1","leftValue":"={{ $json.type }}","rightValue":"no_change","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"node-filter","name":"过滤：有变动才通知","type":"n8n-nodes-base.filter","typeVersion":2,"position":[1340,300]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// 组装飞书消息\nconst data = $json;\nlet text = '';\n\nif (data.type === 'new_items') {\n  text += `🆕 【上新提醒】${data.shop_name}\\n`;\n  text += `📅 检查时间：${data.check_time}\\n\\n`;\n  for (const item of data.items) {\n    text += `▪ ${item.name}\\n`;\n    text += `  💰 售价：NT$ ${item.price}\\n`;\n    if (item.url) text += `  🔗 ${item.url}\\n`;\n    text += '\\n';\n  }\n} else if (data.type === 'price_change') {\n  text += `💰 【价格变动】${data.shop_name}\\n`;\n  text += `📅 检查时间：${data.check_time}\\n\\n`;\n  for (const c of data.changes) {\n    text += `▪ ${c.name}\\n`;\n    text += `  ${c.direction}：NT$ ${c.last_price} → NT$ ${c.current_price}（变动 ${c.diff} 元）\\n`;\n    if (c.url) text += `  🔗 ${c.url}\\n`;\n    text += '\\n';\n  }\n} else if (data.type === 'debug') {\n  text += `⚠️ 【调试信息】${data.shop_name}\\n`;\n  text += `${data.message}\\n`;\n  text += `原始响应：${JSON.stringify(data.raw_response).slice(0, 500)}`;\n}\n\nreturn [{ json: { text: text.trim() } }];","notice":""},"id":"node-compose","name":"组装飞书消息","type":"n8n-nodes-base.code","typeVersion":2,"position":[1560,300]},{"parameters":{"curlImport":"","method":"POST","url":"https://open.feishu.cn/open-apis/bot/v2/hook/YOUR_WEBHOOK_TOKEN","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"msg_type","value":"text"},{"name":"content","value":"={{ JSON.stringify({ text: $json.text }) }}"}]},"options":{},"infoMessage":""},"id":"node-feishu","name":"发送飞书通知","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1780,300]}],"connections":{"定时触发（每4小时）":{"main":[[{"node":"监控目标配置","type":"main","index":0}]]},"Webhook 手动触发":{"main":[[{"node":"监控目标配置","type":"main","index":0}]]},"监控目标配置":{"main":[[{"node":"抓取最新上架商品","type":"main","index":0},{"node":"抓取热销商品价格","type":"main","index":0}]]},"抓取最新上架商品":{"main":[[{"node":"解析上新数据","type":"main","index":0}]]},"抓取热销商品价格":{"main":[[{"node":"解析价格变动","type":"main","index":0}]]},"解析上新数据":{"main":[[{"node":"合并两路结果","type":"main","index":0}]]},"解析价格变动":{"main":[[{"node":"合并两路结果","type":"main","index":1}]]},"合并两路结果":{"main":[[{"node":"过滤：有变动才通知","type":"main","index":0}]]},"过滤：有变动才通知":{"main":[[{"node":"组装飞书消息","type":"main","index":0}]]},"组装飞书消息":{"main":[[{"node":"发送飞书通知","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:定时触发（每4小时）":{"recurrenceRules":[]}},"pinData":null},"customData":{}}